#mainVisual {
    position: relative;
    height: 900px;
    background: url(../img/img/bg_w.jpg)no-repeat center center/cover;
}

#mainVisual .num {
    position: absolute;
    top: 150px;
    left: 50%;
    margin: 0 0 0 585px;
    transform: translate(-100%, 0);
    font-size: 50px;
}

#mainVisual .model {
    position: absolute;
    top: 250px;
    left: 50%;
    margin: 0 0 0 585px;
    transform: translate(-100%, 0);
    font-size: 50px;
}

#mainVisual figure {
    position: relative;
    height: 900px;
    overflow: hidden;
}

#mainVisual .slogan {
    top: 200px;
}

#mainVisual figure .car {
    position: absolute;
    top: 550px;
    left: 50%;
    transform: translate(100%, -50%);
    transition: 1s 0.5s;
}

#mainVisual figure.on .car {
    transform: translate(-50%, -50%);
}